@use '../variables' as *;
@use '../mixins' as *;

#chatroom {
	[data-chat-entry] {
		> div > span {
			white-space: normal;
		}
	}

	&.ntv__alternating-background {
		[data-chat-entry]:nth-child(odd) {
			background-color: rgba(127, 127, 127, 0.05);
		}
	}

	&.ntv__seperators {
		&-basic {
			[data-chat-entry] {
				border-bottom: 1px solid var(--border-transparent-2);
			}
		}

		&-3d {
			[data-chat-entry] {
				border-top: 1px solid rgba(255, 255, 255, 0.1);
				border-bottom: 1px solid #000;
			}
		}

		&-3d-inset {
			[data-chat-entry] {
				border-bottom: 1px solid rgba(255, 255, 255, 0.1);
				border-top: 1px solid #000;
			}
		}

		&-wide {
			[data-chat-entry] {
				border-bottom: 2px solid var(--border-transparent-2);
				border-top: 2px solid var(--border-transparent-2);
				padding: 0.1em;
			}
		}
	}

	&.ntv__hide-emote-menu-button {
		.chat-input-wrapper > div:not(#ntv__message-input) {
			display: none;
		}
	}

	> .ntv__sticky-scroll {
		// Hide "chat paused for scrolling" when scroll is sticky
		> div.absolute:nth-child(2) {
			display: none;
		}
	}

	.chat-entry {
		&.bg-secondary-lighter {
			background-color: transparent;
		}

		&:hover {
			background-color: rgba(128, 128, 128, 0.09);
		}
	}

	.chat-input-wrapper {
		display: none !important;

		#message-input {
			display: none !important;
		}
	}
}

.ntv__chat-messages-container {
	&--smooth-scrolling,
	.overflow-y-scroll {
		scroll-behavior: smooth;
	}

	> div {
		display: none;
	}

	.ntv__chat-message {
		display: block;
	}
}

.ntv__chat-message {
	font-size: $root_font_size;

	&__part {
		white-space: normal;
		line-height: 1em;
		display: inline;

		img {
			cursor: pointer;
		}
	}

	> div {
		white-space: nowrap;
	}
}

.ntv__highlight-first-message {
	background-color: var(--background-highlight-accent-1);
}

.ntv__message-input__wrapper {
	transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	background-color: rgba(255, 255, 255, 0.04);
	font-size: $root_font_size;
	transition-duration: 0.2s;
	border-color: #a8b1b855;
	padding-right: 0.5rem;
	padding-left: 0.5rem;
	align-items: center;
	border-radius: 4px;
	border-width: 1px;
	display: flex;
	width: 100%;

	&:hover {
		border-color: var(--border-transparent-2);
	}
}

#ntv__message-input {
	white-space: pre-wrap !important;
	outline: 2px solid transparent;
	border-color: transparent;
	vertical-align: middle;
	word-break: break-word;
	display: inline-block;
	line-height: 1.618em;
	font-size: 0.875rem;
	position: relative;
	border-width: 1px;
	padding: 0.618em;
	min-height: 3em;
	flex-shrink: 1;
	flex-grow: 0;
	cursor: text;
	width: 100%;

	outline-width: 2px;
	outline-offset: 2px;
	outline-color: transparent;

	&::before {
		content: attr(placeholder);
		pointer-events: none;
		overflow: clip;
		opacity: 0.5;
		// content: '';

		@include user_select;
	}

	&:not(:empty)::before,
	&:focus::before {
		content: none !important;
	}

	// &:empty:not(:focus)::before {
	// 	content: attr(placeholder);
	// }

	&:focus-visible {
		outline: 2px solid transparent;
		outline-offset: 2px;
	}
}

#chatroom-footer .send-row > button:not(.ntv__submit-button) {
	display: none;
}

.ntv__submit-button {
	transition-timing-function: cubic-bezier(0, 0, 0, 1);
	transition-property: background, color, fill;
	transition-duration: 0.3s;

	background-color: #53fc18;
	padding: 0.5rem 0.625rem;
	white-space: nowrap;
	border-radius: 4px;
	line-height: 1.25;
	font-weight: 600;
	color: #070809;
	font-size: 1rem;
	height: 2.25rem;

	&.disabled {
		background-color: #21650a;
		cursor: default;
	}
}
