@use '../variables' as *;
@use '../mixins' as *;
@use 'sass:math';

.ntv__emote {
	min-width: $emote_size;
	height: $emote_size;

	content-visibility: auto;
	border-radius: 0.25rem;
	display: inline-block;
	object-fit: contain;
	position: relative;
	padding: 0.209em;
	cursor: pointer;

	@include user_select;

	&:hover {
		background: hsla(0, 0%, 50%, 0.2);
		scale: 110%;
	}

	// &[size='2'] {
	// 	width: $emote_size * 2;
	// }

	// &[size='3'] {
	// 	width: $emote_size * 3;
	// }

	// &[size='4'] {
	// 	width: $emote_size * 4;
	// }
}

.ntv__inline-emote {
	vertical-align: middle;
	-o-object-fit: contain;
	margin-right: 0.125rem;
	margin-left: 0.125rem;
	display: inline-block;
	object-fit: contain;
	min-width: 1.5rem;
	height: 1.5rem;
}

.ntv__inline-emote-box {
	position: relative;
	display: inline;

	img {
		// height: #{1.6182 * 1.6182}em;
		height: #{math.pow(1 + math.div(1, 3), 3)}em;
		// margin-bottom: -0.5em;
		vertical-align: middle;
		position: relative;
		// margin: -0.5em 0;
		display: inline;
	}
}
