{
	"trailingComma": "none",
	"tabWidth": 3,
	"bracketSameLine": true,
	"jsxBracketSameLine": true,
	"useTabs": true,
	"semi": false,
	"singleQuote": true,
	"printWidth": 110,
	"arrowParens": "avoid"
}
