@use '../variables' as *;

#chatroom {
	[data-chat-entry] {
		// TODO don't alter default style, add settings option
		// margin-top: 0;
	}

	&.nipah__alternating-background {
		[data-chat-entry]:nth-child(odd) {
			background-color: rgba(127, 127, 127, 0.05);
		}
	}

	&.nipah__seperators {
		&-basic {
			[data-chat-entry] {
				border-bottom: 1px solid var(--border-transparent-1);
			}
		}

		&-3d {
			[data-chat-entry] {
				border-top: 1px solid rgba(255, 255, 255, 0.1);
				border-bottom: 1px solid #000;
			}
		}

		&-3d-inset {
			[data-chat-entry] {
				border-bottom: 1px solid rgba(255, 255, 255, 0.1);
				border-top: 1px solid #000;
			}
		}

		&-wide {
			[data-chat-entry] {
				border-bottom: 2px solid var(--border-transparent-1);
				border-top: 2px solid var(--border-transparent-1);
				padding: 0.1em;
			}
		}
	}

	&.nipah__hide-emote-menu-button {
		.chat-input-wrapper > div:not(#nipah__message-input) {
			display: none;
		}
	}

	&.nipah__smooth-scrolling {
		.overflow-y-scroll {
			scroll-behavior: smooth;
		}
	}
}

.nipah__sticky-scroll {
	// Hide "chat paused for scrolling" when scroll is sticky
	> div.absolute:nth-child(2) {
		display: none;
	}
}

#message-input {
	display: none;
}

#nipah__message-input {
	white-space: pre-wrap !important;
	outline: 2px solid transparent;
	background-color: transparent;
	border-color: transparent;
	word-break: break-word;
	line-height: 1.25rem;
	font-size: 0.875rem;
	border-width: 1px;
	padding: 0.618em;
	flex-shrink: 1;
	flex-grow: 0;
	cursor: text;
	width: 100%;

	outline-width: 2px;
	outline-offset: 2px;
	outline-color: transparent;

	&:empty:before {
		content: attr(data-placeholder);
		opacity: 0.5;
	}
}
