@use '../variables' as *;

.nipah_client_quick_emotes_holder {
	max-height: $emote_size * 2;
	font-size: $root_font_size;
	align-items: center;
	overflow: hidden;
	flex-wrap: wrap;
	display: flex;
	width: 100%;
}
