@use '../variables' as *;
@use '../functions' as *;
@use '../mixins' as *;

.nipah__emote-menu {
	outline: 0.1em solid var(--border-transparent-2);
	background-color: var(--background-color);
	box-shadow: shadow_elevation(4);
	transform: translateY(-100%);
	font-size: $root_font_size;
	flex-direction: column;
	border-radius: 0.25em;
	position: absolute;
	max-height: 61.8vh;
	flex-wrap: wrap;
	// right: 0.618em;
	display: flex;
	z-index: 1001;
	height: 45em;
	left: 0.618em;
	// bottom: 9em;
	top: -1.618em;

	&__header {
		border-bottom: 0.1em solid var(--border-transparent-2);
		justify-content: flex-end;
		display: flex;
		padding: 2px;
		width: 100%;
	}

	&__close-btn {
		padding: 0 0.618em;
		cursor: pointer;
	}

	&__search {
		position: relative;
		width: 100%;

		&__icon {
			color: var(--border-transparent-2);
			-webkit-user-select: none;
			pointer-events: none;
			place-items: center;
			position: absolute;
			user-select: none;
			padding: 0.85em;
			display: grid;
			height: 100%;
			left: 0.5em;
			top: 0;

			svg {
				vertical-align: middle;
				display: block;

				path {
					fill: #808080;
				}
			}
		}

		input {
			transition: background-color 0.14s;
			background-color: transparent;
			padding-left: 3em;
			line-height: 3em;
			outline: none;
			border: none;
			width: 100%;

			&::placeholder {
				color: var(--text-color-low-emphasis);
			}

			&:focus {
				background-color: var(--background-color-shade-1);
			}
		}
	}

	&__body {
		overflow: auto;
		display: flex;
		flex: 1 1 3em;
	}

	&__sidebar {
		background-color: var(--background-color-tint-1);
		border-left: 1px solid var(--border-transparent-2);
		// background: hsla(0, 0%, 50%, 0.06);
		justify-content: space-between;
		flex: 0 0 $sidebar_width;
		flex-direction: column;
		align-items: center;
		overflow: hidden;
		display: flex;

		&__sets {
			width: 100%;

			> div {
				padding: 0.618em 0;

				&:hover {
					background-color: var(--background-highlight-2) !important;
				}
			}
		}

		&__extra {
			width: 100%;
		}

		&-btn {
			justify-content: center;
			border-radius: 0.25em;
			cursor: pointer;
			padding: 1em 0;
			display: flex;
			width: 100%;

			&:hover {
				background-color: var(--background-highlight-2);
			}

			&--settings {
				width: 100%;
			}
		}

		img {
			border-bottom: solid 2px #94949491;
			border-top: solid 2px #0f0f0f91;
			box-sizing: content-box;
			// padding: 0.5em 0.3em;
			height: 1.618em;
			width: 1.618em;
		}

		svg {
			vertical-align: middle;
			@include user_select;
			pointer-events: none;
			margin: 0 auto;
			height: 1.1em;
			width: 1.1em;
		}
	}

	&__scrollable {
		scrollbar-color: var(--background-color-tint-3) transparent;
		scroll-behavior: smooth;
		flex: 1 1 $emote_size;
		scrollbar-width: thin;
		padding-right: 8px;
		overflow-x: hidden;
		overflow-y: scroll;
		height: 100%;

		&::-webkit-scrollbar {
			// width: 10px;
			// height: 10px;
		}
		&::-webkit-scrollbar-thumb {
			background: #535353;
		}
		&::-webkit-scrollbar-track {
			background: transparent;
		}
	}

	&__panel {
		&__emotes,
		&__search {
			width: $emote_size * $emote_row_size + 0.5em;
		}
	}
}

.nipah__emote-set {
	&__header {
		background-color: var(--background-color-tint-1);
		outline: 0.1em solid var(--border-transparent-1);
		grid-template-columns: auto 1fr 2.5em;
		box-shadow: shadow_elevation(2);
		align-items: center;
		padding: 0 0.618em;
		column-gap: 0.5em;
		position: sticky;
		display: grid;
		z-index: 1;
		top: 0px;

		img {
			margin-right: 0.209em;
			object-fit: cover;
			overflow: clip;
			height: 2em;
			width: 2em;
		}

		span {
			text-overflow: ellipsis;
			white-space: nowrap;
			line-height: 2.5em;
			font-weight: 500;
			overflow: hidden;
			display: block;
		}
	}

	&--collapsed {
		.nipah__emote-set__emotes {
			padding-bottom: 0;
			padding-top: 0;
			max-height: 0;
		}

		.nipah__chevron {
			svg {
				transform: rotate(0deg);
			}
		}
	}

	&__emotes {
		// transition: max-height 0.1s ease-in-out;
		// max-height: 99999px;
		padding: 0.5em 0.25em;
		overflow: hidden;
		flex-wrap: wrap;
		display: flex;

		// img.nipah__emote {
		// 	$emotes_in_row: 7;
		// 	width: (100% - $emotes_in_row * 1%) / $emotes_in_row;
		// }
	}

	&__emote {
		// background: hsla(0, 0%, 50%, 0.06);
	}
}

.nipah__chevron {
	justify-content: center;
	border-radius: 0.2em;
	align-items: center;
	cursor: pointer;
	display: flex;
	height: 2.5em;
	width: 2.5em;

	&:hover {
		background-color: var(--background-highlight-1);
	}

	svg {
		transition: transform 0.25s ease;
		transform: rotate(-180deg);
	}
}

.nipah__emote-tooltip {
	outline: 0.1em solid var(--border-transparent-2);
	background-color: var(--background-color-tint-1);
	padding: 0.618em 0.618em 0.333em 0.618em;
	transform: translate(-50%, -45%);
	box-shadow: shadow_elevation(2);
	font-size: $root_font_size;
	padding: 0.382em 1.382em;
	text-overflow: ellipsis;
	border-radius: 0.318em;
	pointer-events: none;
	text-align: center;
	position: absolute;
	padding: 0.618em;
	overflow: hidden;
	font-size: 13px;
	max-width: 15em;
	min-width: 4em;
	// max-width: 8em;
	z-index: 1002;

	@include user_select;

	&--has-image {
		transform: translate(-50%, -80%);
	}

	img {
		margin: 0 auto 0.333em auto;
		max-width: none;
		height: 4.5em;
	}

	span {
		text-overflow: ellipsis;
		white-space: nowrap;
		font-size: 1.2em;
		overflow: hidden;
		display: block;
		width: 100%;
	}
}
