@use '../variables' as *;
@use '../functions' as *;

.nipah__tab-completion {
	background-color: var(--background-color);
	outline: 0.1em solid var(--border-transparent-1);
	box-shadow: shadow_elevation(3);
	// transform: translateY(-100%);
	font-size: $root_font_size;
	border-radius: 0.25em;
	position: absolute;
	z-index: 1000;
	bottom: 112%;
	width: 100%;

	display: none;

	&__list {
		flex-direction: column-reverse;
		scrollbar-width: thin;
		max-height: 23.4em;
		overflow-x: hidden;
		overflow-y: auto;
		list-style: none;
		display: flex;

		li {
			border-bottom: 1px solid var(--border-transparent-1);
			padding: 0.333em 0.618em;
			line-height: 1.618em;
			white-space: nowrap;
			align-items: center;
			cursor: pointer;

			&[data-emote-id] {
				grid-template-columns: 4rem 1fr;
				column-gap: 0.5em;
				display: grid;
			}

			&[data-user-id] {
				padding: 0.333em 1.333em;

				span {
					line-height: 2.618em;
					display: block;
					width: 100%;
				}
			}

			&:first-child {
				border-bottom: none;
			}

			&.selected {
				background-color: var(--background-color-tint-2);
			}

			&:hover {
				background-color: var(--background-color-tint-3);
			}

			img {
				// object-fit: contain;
				justify-self: center;
				max-width: 100%;
				height: 2.618em;
			}

			span {
				overflow: hidden;
			}
		}
	}
}
