@keyframes ntv__blink {
	to {
		visibility: hidden;
	}
}

@keyframes ntv__shake {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(2deg);
	}
	50% {
		transform: rotate(-2deg);
	}
	75% {
		transform: rotate(2deg);
	}
	100% {
		transform: rotate(-2deg);
	}
}
