@use 'variables' as *;

.ntv__chat-messages-container {
	overflow-x: hidden;
	// flex-direction: column;
	// display: flex;

	> :not(.ntv__chat-message),
	> .ntv__chat-message--unrendered {

	}

	&.ntv__show-message-timestamps {
		.ntv__chat-message {
			&__timestamp {
				display: inline;
			}
		}
	}

	// &.ntv__smooth-scrolling {
	// 	scroll-behavior: smooth;
	// }

	&.ntv__alternating-background {
		.ntv__chat-message:not(.ntv__chat-message--first-message):not(:hover):nth-child(odd) {
			background-color: rgba(127, 127, 127, 0.05);
		}
	}
}
