.ntv__chat-messages-container {
	flex-direction: column;
	display: flex;

	> :not(.ntv__chat-message) {
		display: none;
	}

	&.ntv__show-message-timestamps {
		.ntv__chat-message {
			&__timestamp {
				display: inline;
			}
		}
	}

	&.ntv__smooth-scrolling {
		scroll-behavior: smooth;
	}

	&.ntv__alternating-background {
		.ntv__chat-message:not(.ntv__highlight-first-message):not(:hover):nth-child(odd) {
			background-color: rgba(127, 127, 127, 0.05);
		}
	}

	&.ntv__seperators {
		&-basic {
			.ntv__chat-message {
				border-bottom: 1px solid var(--ntv-border-transparent-2);
			}
		}

		&-3d {
			.ntv__chat-message {
				border-top: 1px solid rgba(255, 255, 255, 0.128);
				border-bottom: 1px solid #000;
			}
		}

		&-3d-inset {
			.ntv__chat-message {
				border-bottom: 1px solid rgba(255, 255, 255, 0.128);
				border-top: 1px solid #000;
			}
		}

		&-wide {
			.ntv__chat-message {
				border-bottom: 1px solid rgba(255, 255, 255, 0.128);
				border-top: 1px solid rgba(255, 255, 255, 0.128);
				margin-bottom: 0.3em;
				margin-top: 0.3em;
				padding: 0.1em;
			}
		}
	}
}
