@use 'variables' as *;
@use 'animations' as *;
@use 'functions' as *;

.ntv {
	&__input {
		background-color: var(--ntv-background-color-tint-2);
		border-radius: $golden_ratio_inverse_half * 1em;
		margin: $golden_ratio_inverse_half * 1em 0;
		padding: $golden_ratio_inverse * 1em 1em;
		outline: none;
		width: 100%;

		&[disabled] {
			opacity: 0.38;
		}

		&:focus {
			background-color: var(--ntv-background-color-tint-4);
		}
	}

	&__button {
		padding: $golden_ratio_inverse_half * 1em $golden_ratio_inverse * 1em;
		background-color: var(--ntv-background-color-accent);
		transition: 120ms background-color ease-in-out;
		border-radius: 0.25em;
		cursor: pointer;
		font-size: 1em;

		&:hover {
			background-color: var(--ntv-background-color-accent-tint-2);
		}

		&--regular {
			background-color: var(--ntv-background-color-tint-4);

			&:hover {
				background-color: var(--ntv-background-color-tint-5);
			}
		}

		&--disabled {
			pointer-events: none;
			cursor: not-allowed;
			user-select: none;
			opacity: 0.38;
		}
	}

	&__icon-button {
		transition: 120ms opacity ease-in-out;
		border-radius: 0.128em;
		cursor: pointer;

		&--disabled {
			pointer-events: none;
			cursor: not-allowed;
			user-select: none;
			opacity: 0.38;
		}

		&:hover {
			background-color: var(--ntv-background-color-tint-2);
		}
	}

	&__checkbox {
		white-space: nowrap;
		margin: 1em 0;

		input {
			border: 0.15em solid $color-primary;
			vertical-align: middle;
			border-radius: 0.15em;
			margin: 0 1em 0 0;
			appearance: none;
			height: 1.618em;
			width: 1.618em;

			position: relative;
			// opacity: 0.75;
			// left: -2em;

			&::before {
				transition: 120ms transform ease-in-out;
				box-shadow: inset 1em 1em $color-primary;
				// transform: scale(0);
				// height: 0.618em;
				// width: 0.618em;
				content: '';

				transform: translate(-50%, -50%) scale(0);
				position: absolute;
				height: 0.9em;
				width: 0.9em;
				left: 50%;
				top: 50%;
			}

			&:hover {
				opacity: 0.95;
			}

			&:checked::before {
				// transform: scale(1);
				transform: translate(-50%, -50%) scale(1);
			}
		}

		label {
			display: inline-block;
			vertical-align: top;
			white-space: normal;
		}
	}

	&__number {
		label {
			margin-right: 1em;
		}

		input {
			background-color: var(--ntv-background-color-shade-2);
			padding: 0.618em 1.333em;
			appearance: auto;
			width: 7em;
		}
	}

	&__dropdown {
		margin: 1em 0;

		> label {
			margin-bottom: 0.618em;
			display: inline-block;
		}

		select {
			border: 0.2em solid var(--ntv-border-transparent-2);
			padding: 0.382em 0.618em;
			background: transparent;
			border-radius: 0.25em;
			margin-right: 1em;

			option {
				background-color: var(--ntv-background-color-shade-1);
			}
		}
	}

	&__color {
		margin: 1em 0;

		label {
			margin-right: 1em;
		}

		input {
			vertical-align: middle;
			height: 2em;
		}
	}

	&__timer {
		border-top: 0.1em solid var(--ntv-border-transparent-2);
		padding: $golden_ratio_inverse * 1em;
		font-size: $root_font_size;
		flex-wrap: wrap;
		display: flex;

		&:first-child {
			border-top: none;
		}

		&__body {
			justify-content: center;
			flex-direction: column;
			display: flex;
			flex: 1 1;
		}

		&__duration {
			font-family: monospace;
			font-size: 1.618em;

			&--expired {
				animation: blink 1.2s steps(2, start) infinite;
			}
		}

		&__description {
		}

		&__buttons {
			align-content: center;
			flex: 0 0 max-content;
		}

		&__pause {
			svg:last-child {
				display: none;
			}

			&--paused {
				svg:first-child {
					display: none;
				}
				svg:last-child {
					display: block;
				}
			}
		}

		&__pause,
		&__remove {
			svg {
				height: 2.5em;
				width: 2.5em;
			}
		}
	}

	&__nav-window {
		background-color: var(--ntv-background-color);
		outline: 0.1em solid var(--ntv-border-transparent-2);
		box-shadow: shadow_elevation(3);
		// transform: translateY(-100%);
		font-size: $root_font_size;
		border-radius: 0.25em;
		position: absolute;
		z-index: 1000;
		bottom: 115%;
		width: 100%;
		left: 0;

		&__list {
			flex-direction: column-reverse;
			scrollbar-width: thin;
			max-height: 23.4em;
			overflow-x: hidden;
			overflow-y: auto;
			list-style: none;
			display: flex;

			li {
				border-bottom: 1px solid var(--ntv-border-transparent-2);
				padding: 0.333em 0.618em;
				line-height: 1.618em;
				white-space: nowrap;
				align-items: center;
				cursor: pointer;

				&[data-emote-id] {
					grid-template-columns: 4rem 1fr;
					column-gap: 0.5em;
					display: grid;
				}

				&[data-user-id] {
					padding: 0.333em 1.333em;

					span {
						line-height: 2.618em;
						display: block;
						width: 100%;
					}
				}

				&:first-child {
					border-bottom: none;
				}

				&.selected {
					background-color: var(--ntv-background-color-tint-2);
				}

				&:hover {
					background-color: var(--ntv-background-color-tint-3);
				}

				span {
					white-space: wrap;
				}
			}
		}
	}

	&__emotes-window {
		.ntv__nav-window__list {
			li {
				img {
					content-visibility: visible;
					margin-right: 0.618em;
					justify-self: center;
					object-fit: contain;
					max-width: 100%;
					height: 2.618em;
					min-width: 5em;
				}

				span {
					white-space: nowrap;
					overflow: hidden;
				}
			}
		}
	}

	&__commands-window {
		.ntv__nav-window__list {
			li {
				.subscript {
					opacity: 0.5;
				}
			}
		}
	}

	&__stepped-input-slider {
		input {
			width: 100%;
		}
	}

	&__reply-message {
		font-size: $root_font_size;

		&__header {
			margin-bottom: $golden_ratio_inverse * 1em;
			align-items: center;
			display: flex;

			svg {
				height: $golden_ratio * 1em;
				width: $golden_ratio * 1em;
				flex: 0 0 max-content;
			}

			span {
				padding: 0 $golden_ratio_inverse * 1em;
				flex: 1 1 auto;
			}
		}

		&__content {
			padding: $golden_ratio_inverse * 1em $golden_ratio * 1em;
			background-color: var(--ntv-background-color-shade-1);
		}
	}

	&__badge {
		height: $golden_ratio * 1em;
		width: $golden_ratio * 1em;
	}
}
