@use 'variables' as *;
@use 'mixins' as *;
@use 'sass:math';

$chat_emote_size: 2.3em;

.ntv__emote {
	content-visibility: auto;
	display: inline-block;
	object-fit: contain;

	max-height: $chat_emote_size;
	grid-column: 1;
	grid-row: 1;

	@include user_select;

	&--zero-width {
		justify-self: center;
		max-height: 100%;
		align-self: end;
	}
}

.ntv__emote-box {
	// outline: 1px solid red;
	background: rgba(255, 255, 255, 0.034);

	vertical-align: middle;
	position: relative;
	display: inline-grid;
	cursor: pointer;
	// padding: 0.2em;

	width: $menu_and_holder_emote_size;
	height: $menu_and_holder_emote_size;

	justify-content: center;
	align-items: center;

	.ntv__emote {
		max-height: 100%;
	}

	@for $i from 2 through 14 {
		&[size='#{$i}'] {
			width: $menu_and_holder_emote_size + math.div($menu_and_holder_emote_size, 2) * ($i - 1);
		}
	}

	&:hover {
		background: hsla(0, 0%, 50%, 0.2);

		.ntv__emote {
			scale: 110%;
		}
	}

	&--zero-width {
		outline: 1px solid #ffc400a1;
	}

	&--favorite {
		background: rgba(255, 174, 0, 0.034);
	}

	&--unavailable {
		opacity: 0.38;
	}

	&--locked {
		&:after {
			background: rgba(0, 0, 0, 0.618)
				url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 1024 1024'><path fill='white' d='M832 464h-68V240c0-70.7-57.3-128-128-128H388c-70.7 0-128 57.3-128 128v224h-68c-17.7 0-32 14.3-32 32v384c0 17.7 14.3 32 32 32h640c17.7 0 32-14.3 32-32V496c0-17.7-14.3-32-32-32M332 240c0-30.9 25.1-56 56-56h248c30.9 0 56 25.1 56 56v224H332zm460 600H232V536h560zM484 701v53c0 4.4 3.6 8 8 8h40c4.4 0 8-3.6 8-8v-53a48.01 48.01 0 1 0-56 0' /></svg>");
			transform: translate(-50%, -50%);
			background-repeat: no-repeat;
			background-position: center;
			background-size: 80%;
			border-radius: 0.25em;
			pointer-events: none;
			position: absolute;
			user-select: none;
			height: 61.8%;
			width: 61.8%;
			content: '';
			left: 50%;
			top: 50%;
		}
	}

	&--dragging {
		transform: scale(0.9) translate(-50%, -50%);
		outline: 1px solid rgb(141, 197, 250);
		box-shadow: shadow_elevation(2);
		pointer-events: none;
		position: absolute;
		user-select: none;
		z-index: 999999;
		opacity: 0.5;
	}
}

.ntv__inline-emote-box {
	max-height: $chat_emote_size;
	vertical-align: middle;
	display: inline-grid;
	object-fit: contain;
	margin: -0.4em 0;

	justify-content: center;
	align-items: center;

	img {
		// height: #{1.6182 * 1.6182}em;
		// height: #{math.pow(1 + math.div(1, 3), 3)}em;
		grid-column: 1;
		grid-row: 1;
	}
}
