@use 'animations' as *;
@use 'variables' as *;
@use 'functions' as *;
@use 'mixins' as *;

@keyframes translateX46 {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(46px);
	}
}

.ntv__emote-menu {
	outline: 0.1em solid var(--ntv-border-transparent-2);
	background-color: var(--ntv-background-color);
	box-shadow: shadow_elevation(4);
	transform: translateX(100%);
	font-size: $root_font_size;
	flex-direction: column;
	border-radius: 0.25em;
	position: absolute;
	max-height: 61.8vh;
	// flex-wrap: wrap;
	right: 0.618em;
	display: flex;
	z-index: 1001;
	height: 45em;
	bottom: 9em;

	&__header {
		border-bottom: 1px solid var(--ntv-border-transparent-2);
		justify-content: flex-end;
		display: flex;
		padding: 2px;
		width: 100%;
	}

	&__close-btn {
		padding: 0 0.618em;
		cursor: pointer;
	}

	&__search {
		position: relative;
		width: 100%;

		&__icon {
			color: var(--ntv-border-transparent-2);
			-webkit-user-select: none;
			pointer-events: none;
			place-items: center;
			position: absolute;
			user-select: none;
			padding: 0.85em;
			display: grid;
			height: 100%;
			left: 0.5em;
			top: 0;

			svg {
				vertical-align: middle;
				display: block;

				path {
					fill: #808080;
				}
			}
		}

		input {
			transition: background-color 0.14s;
			background-color: transparent;
			padding-left: 3em;
			line-height: 3em;
			outline: none;
			border: none;
			width: 100%;

			&::placeholder {
				color: var(--ntv-text-color-low-emphasis);
			}

			&:focus {
				background-color: var(--ntv-background-color-shade-1);
			}
		}
	}

	&__body {
		flex-direction: row;
		max-height: 100%;
		overflow-y: auto;
		display: flex;
		flex: 1 1;
	}

	&__sidebar {
		border-left: 1px solid var(--ntv-border-transparent-2);
		background-color: var(--ntv-background-color-tint-1);
		// background: hsla(0, 0%, 50%, 0.06);
		justify-content: space-between;
		flex-direction: column;
		align-items: center;
		overflow: hidden;
		min-width: 3em;
		display: flex;

		&__sets {
			scrollbar-width: none;
			flex: 1 1 fit-content;
			overflow-y: auto;
			width: 100%;

			> div {
				padding: 0.618em 0;

				&:hover {
					background-color: var(--ntv-background-highlight-2) !important;
				}
			}

			svg {
				height: 1.5em;
				width: 1.5em;
			}

			.ntv__emote-menu__sidebar-btn {
				border-bottom: solid 2px #94949417;
				border-top: solid 2px #0f0f0f2a;
			}
		}

		&__extra {
			flex: 0 0 fit-content;
			width: 100%;

			svg {
				@include user_select;
				pointer-events: none;
				height: 1.1em;
				width: 1.1em;
			}
		}

		&-btn {
			justify-content: center;
			border-radius: 0.25em;
			overflow: hidden;
			cursor: pointer;
			padding: 1em 0;
			display: flex;
			width: 100%;

			&:hover {
				background-color: var(--ntv-background-highlight-2);
			}

			&--settings {
				width: 100%;
			}

			&--highlighted {
				position: relative;

				&:before {
					position: absolute;
					content: '';
					left: -46px;
					bottom: 0;
					right: 0;
					top: 0;

					background: repeating-linear-gradient(
						-55deg,
						#ffd9005e 1px,
						#ff99005e 2px,
						#ff99005e 11px,
						#ffd9005e 12px,
						#ffd9005e 20px
					);

					animation-name: translateX46;
					animation-duration: 4s;
					animation-timing-function: linear;
					animation-iteration-count: infinite;
				}
			}
		}

		img {
			pointer-events: none;
			// padding: 0.5em 0.3em;
			height: 1.618em;
			width: 1.618em;
		}

		svg {
			vertical-align: middle;
			pointer-events: none;
			margin: 0 auto;
			z-index: 1;
		}
	}

	&__scrollable {
		scrollbar-color: var(--ntv-background-color-tint-3) transparent;
		scroll-behavior: smooth;
		scrollbar-width: thin;
		// padding-right: 20px;
		overflow-x: hidden;
		overflow-y: scroll;

		&::-webkit-scrollbar {
			// width: 19px;
			// height: 10px;
		}
		&::-webkit-scrollbar-thumb {
			background: #535353;
		}
		&::-webkit-scrollbar-track {
			background: transparent;
		}
	}

	&__panel {
		&__emotes,
		&__search {
			// width: $emote_size * $emote_row_size + 0.6em + 0.25em;
			width: $menu_scrollable_width;
		}
	}
}

.ntv__emote-set {
	&__header {
		background-color: var(--ntv-background-color-tint-1);
		outline: 0.1em solid var(--ntv-border-transparent-1);
		grid-template-columns: auto 1fr 2.5em;
		box-shadow: shadow_elevation(1);
		align-items: center;
		padding: 1px 0.618em 0;
		column-gap: 0.5em;
		position: sticky;
		display: grid;
		z-index: 1;
		top: -1px;

		img {
			margin-right: 0.209em;
			object-fit: cover;
			overflow: clip;
			height: 2em;
			width: 2em;
		}

		span {
			text-overflow: ellipsis;
			white-space: nowrap;
			line-height: 2.5em;
			font-weight: 500;
			overflow: hidden;
			display: block;
		}
	}

	.ntv__emote-box {
		border-radius: 0.2em;
		overflow: clip;
	}

	&__emotes {
		// transition: max-height 0.1s ease-in-out;
		// max-height: 99999px;
		padding: 0.5em 0.6em 0.5em 0.25em;
		gap: $menu_emoteset_gap;
		overflow: hidden;
		flex-wrap: wrap;
		display: flex;

		// img.ntv__emote {
		// 	$emotes_in_row: 7;
		// 	width: (100% - $emotes_in_row * 1%) / $emotes_in_row;
		// }
	}

	&__emote {
		// background: hsla(0, 0%, 50%, 0.06);
	}

	&[data-id='favorites'] {
		// If favorites emote set is empty, show a message
		.ntv__emote-set__emotes:not(:has(.ntv__emote-box:not(.ntv__emote-box--unavailable))) {
			&:before {
				content: 'Ctrl + click to add emotes to favorites. Hold click for 1 second, then drag to re-order.';
				border: 2px dashed var(--ntv-border-transparent-2);
				display: inline-block;
				text-align: center;
				font-size: 0.95em;
				margin: 0.5em;
				padding: 1em;
			}
		}

		.ntv__emote-set__emotes:not(.ntv__emote-set--show-unavailable) {
			.ntv__emote-box--unavailable {
				display: none;
			}
		}
	}

	&--dragging-emote[data-id='favorites'] {
		// Make the emotes shake and dance when dragging
		.ntv__emote-set__emotes .ntv__emote-box {
			animation: ntv__shake 0.5s infinite;
		}
	}

	&--collapsed {
		.ntv__emote-set__emotes {
			padding-bottom: 0;
			padding-top: 0;
			max-height: 0;
		}

		.ntv__chevron {
			svg {
				transform: rotate(0deg);
			}
		}
	}
}

.ntv__chevron {
	justify-content: center;
	border-radius: 0.2em;
	align-items: center;
	cursor: pointer;
	display: flex;
	height: 2.5em;
	width: 2.5em;

	&:hover {
		background-color: var(--ntv-background-highlight-1);
	}

	svg {
		transition: transform 0.25s ease;
		transform: rotate(-180deg);
		pointer-events: none;
		user-select: none;
	}
}
