.ntv__chat-message {
	padding: 0.24em 0.5em;

	&__identity {
	}

	&__timestamp {
		font-family: Helvetica Neue, sans-serif;
		font-variant-numeric: tabular-nums;
		color: #adadb8;
	}
	&__badges {
	}
	&__username {
		font-weight: 700;
	}
	&__part {
		word-break: break-word;
	}
}

.ntv__chat-message-separator {
	align-items: center;
	display: flex;
	gap: 1rem;

	div {
		border-bottom: 1px solid #ffffff80;
		flex: 1 1 auto;
	}

	span {
	}

	&--date {
		color: #ffffff80;
	}

	&--start {
		display: inline-block;
		font-size: 1.618em;
		color: #ffffff80;
		padding: 0.5em 0;
	}
}
