@use 'variables' as *;

.ntv__chat-message {
	font-size: $root_font_size;
	padding: 0em 0.9em;
	margin: 0;

	&:hover {
		background-color: rgba(128, 128, 128, 0.09);
	}

	&__inner {
		overflow: hidden;
		padding: 0.3em 0;
	}

	&__attachment {
		color: var(--ntv-text-color-disabled-emphasis);
		margin-bottom: 0.5em;
		white-space: nowrap;
		font-size: 0.8em;
		overflow: hidden;
	}

	&__identity {
		display: inline;
		margin-left: 0;

		// Because align middle is set to bottom of baseline instead of actual middle
		margin-top: -0.13em;
	}

	&__mod-buttons {
		vertical-align: middle;
		display: none;
	}

	&__username,
	&__seperator {
		display: inline;
	}

	&__identity,
	&__part {
		line-height: $golden_ratio * 1em;
	}

	&__timestamp {
		font-family: Helvetica Neue, sans-serif;
		font-variant-numeric: tabular-nums;
		margin-right: 0.45em;
		white-space: nowrap;
		color: #adadb8;
		display: none;
	}

	&__badges {
		vertical-align: middle;
		margin-right: 0.12em;
		display: inline-flex;
		white-space: nowrap;
		align-items: center;

		// Because align middle is set to bottom of baseline instead of actual middle
		margin-top: -0.1em;

		.ntv__badge {
			margin-right: 0.333em;
		}
	}

	&__badge {
		display: inline-flex;
	}

	&__username {
		text-overflow: ellipsis;
		word-break: break-all;
		font-weight: 700;
		overflow: hidden;
		cursor: pointer;
		max-width: 17em;
	}

	&__separator {
		display: inline-block;
		word-break: keep-all;
		margin-right: 0.3em;
	}

	&__part {
		word-break: break-word;
		margin-right: 0.333em;
		white-space: normal;
		// line-height: 1.5em;
		// line-height: 2em;

		&--text {
		}

		&:last-child {
			margin-right: 0;
		}

		img[data-emote-name] {
			cursor: pointer;
		}
	}

	&--unrendered {
	}

	&--seperator {
		&-basic {
			border-bottom: 1px solid var(--ntv-border-transparent-2);
		}

		&-3d {
			border-top: 1px solid rgba(255, 255, 255, 0.128);
			border-bottom: 1px solid #000;
		}

		&-3d-inset {
			border-bottom: 1px solid rgba(255, 255, 255, 0.128);
			border-top: 1px solid #000;
		}

		&-wide {
			border-bottom: 1px solid rgba(255, 255, 255, 0.128);
			border-top: 1px solid rgba(255, 255, 255, 0.128);
			margin-bottom: 0.3em;
			margin-top: 0.3em;
			padding: 0.1em;
		}
	}

	&--first-message {
		border: ridge 1.618px var(--ntv-background-highlight-accent-1);
	}

	&--reply-to-me {
		border: ridge 1.618px rgba(83, 252, 24, 1);
	}

	&--deleted {
		opacity: 0.38;

		.ntv__chat-message__part {
			font-style: italic;
		}
	}

	&--theme-rounded {
		border-radius: 0.25em;
	}

	&--theme-rounded-2 {
		border-radius: 1em;
	}

	&--little-spacing {
		padding-bottom: 0.128em;
		padding-top: 0.128em;
	}

	&--large-spacing {
		padding-bottom: 0.25em;
		padding-top: 0.25em;
	}

	&--show-quick-actions {
		.ntv__chat-message__mod-buttons {
			display: inline-flex;
			margin-top: -0.05em;
		}
	}
}

.ntv__chat-message-separator {
	align-items: center;
	display: flex;
	gap: 1rem;

	div {
		border-bottom: 1px solid #ffffff80;
		flex: 1 1 auto;
	}

	span {
	}

	&--date {
		color: #ffffff80;
	}

	&--start {
		display: inline-block;
		font-size: 1.618em;
		color: #ffffff80;
		padding: 0.5em 0;
	}
}
