.ntv__chat-message {
	padding: 0.24em 0.5em;

	&__identity {
	}

	&__timestamp {
		font-family: Helvetica Neue, sans-serif;
		font-variant-numeric: tabular-nums;
		color: #adadb8;
	}
	&__badges {
	}
	&__username {
	}
	&__part {
	}
}
