@use 'animations' as *;
@use 'variables' as *;

$emotes_gap: 0.2em;

.ntv__quick-emotes-holder {
	max-height: $menu_and_holder_emote_size * 2;
	font-size: $root_font_size;
	align-items: center;
	width: 100%;

	// To accomodate for ntv__emote:hover -> scale: 110% with overflow: hidden
	$hoverScalePadding: 0.18em;
	overflow: hidden;
	margin: $hoverScalePadding;
	box-sizing: content-box;

	@for $i from 1 through 14 {
		&[data-rows='#{$i}'] {
			max-height: $menu_and_holder_emote_size * $i + $emotes_gap * $i * 2;
		}
	}

	.ntv__emote-box {
		margin: $emotes_gap;
	}

	&--dragging-emote {
		// Make the emotes shake and dance when dragging
		.ntv__quick-emotes-holder__favorites .ntv__emote {
			animation: ntv__shake 0.5s infinite;
		}
	}

	&__favorites,
	&__commonly-used {
		display: inline;
	}

	&__spacer {
		// width: calc($menu_and_holder_emote_size / 1.2);
		height: $menu_and_holder_emote_size * 0.618;
		vertical-align: middle;
		display: inline-block;
		pointer-events: none;
		text-align: center;
		user-select: none;
		padding: 0 0.209em;
		font-size: 1.2em;
		opacity: 0.36;

		display: none;
	}

	// Hide the spacer if either favorites or commonly-used sections are empty
	// &__favorites:empty + &__spacer,
	// &__favorites:has(~ &__commonly-used:empty) + &__spacer {
	// 	display: none;
	// }

	&__favorites {
		&:not(.ntv__quick-emotes-holder__favorites--show-unavailable) {
			.ntv__emote-box--unavailable {
				display: none;
			}
		}
	}
}
