@use 'animations' as *;
@use 'variables' as *;

.ntv__quick-emotes-holder {
	max-height: $emote_size * 2;
	font-size: $root_font_size;
	align-items: center;
	width: 100%;

	// To accomodate for ntv__emote:hover -> scale: 110% with overflow: hidden
	$hoverScalePadding: 0.18em;
	overflow: hidden;
	margin: $hoverScalePadding;
	box-sizing: content-box;

	> div {
		box-sizing: border-box;
	}

	&[data-rows='1'] {
		max-height: $emote_size * 1;
	}

	&[data-rows='2'] {
		max-height: $emote_size * 2;
	}

	&[data-rows='3'] {
		max-height: $emote_size * 3;
	}

	&[data-rows='4'] {
		max-height: $emote_size * 4;
	}

	&[data-rows='5'] {
		max-height: $emote_size * 5;
	}

	&[data-rows='6'] {
		max-height: $emote_size * 6;
	}

	&[data-rows='7'] {
		max-height: $emote_size * 7;
	}

	&[data-rows='8'] {
		max-height: $emote_size * 8;
	}

	&[data-rows='9'] {
		max-height: $emote_size * 9;
	}

	&[data-rows='10'] {
		max-height: $emote_size * 10;
	}

	&--dragging-emote {
		// Make the emotes shake and dance when dragging
		.ntv__quick-emotes-holder__favorites .ntv__emote {
			animation: ntv__shake 0.5s infinite;
		}
	}

	&__favorites,
	&__commonly-used {
		display: inline;
	}

	&__spacer {
		// width: calc($emote_size / 1.2);
		height: $emote_size * 0.618;
		vertical-align: middle;
		display: inline-block;
		pointer-events: none;
		text-align: center;
		user-select: none;
		padding: 0 0.209em;
		font-size: 1.2em;
		opacity: 0.36;
	}

	// Hide the spacer if either favorites or commonly-used sections are empty
	&__favorites:empty + &__spacer,
	&__favorites:has(~ &__commonly-used:empty) + &__spacer {
		display: none;
	}
}
