@use 'functions' as *;
@use 'sass:color';

$golden_ratio: 1.61803398875;
$golden_ratio_inverse: 0.61803398875;
$golden_ratio_inverse_half: $golden_ratio_inverse * $golden_ratio_inverse;

$root_font_size: 14px;
$emote_size: 2.8em;
$emote_row_size: 6;
$sidebar_width: $emote_size;

// Opacity Scale
$opacity-1: 0.05;
$opacity-2: 0.08;
$opacity-3: 0.13;
$opacity-4: 0.16;
$opacity-5: 0.22;
$opacity-6: 0.28;
$opacity-7: 0.4;

// Base Color Palette
$color-primary: #1e65b1;
$color-secondary: #66bb6a;
$color-accent: #29b6f6;
$color-warning: #df4545;
$color-muted: #999;

// Background Color Palette
$dark-theme-background-color: #1b1b1d;

:root {
	--ntv-background-color: #{$dark-theme-background-color};
	--ntv-background-color-tint-1: #{tint($dark-theme-background-color, 3%)};
	--ntv-background-color-tint-2: #{tint($dark-theme-background-color, 7%)};
	--ntv-background-color-tint-3: #{tint($dark-theme-background-color, 10%)};
	--ntv-background-color-shade-1: #{shade($dark-theme-background-color, 30%)};
	--ntv-background-color-shade-2: #{shade($dark-theme-background-color, 40%)};

	--ntv-background-color-accent: #{$color-primary};
	--ntv-background-color-accent-tint-1: #{tint($color-primary, 3%)};
	--ntv-background-color-accent-tint-2: #{tint($color-primary, 7%)};

	--ntv-background-highlight-1: hsla(0, 0%, 50%, 0.125);
	--ntv-background-highlight-2: hsla(0, 0%, 50%, 0.202);

	--ntv-background-highlight-accent-1: #{rgba($color-primary, 0.125)};

	--ntv-border-transparent-1: #ffffff0e;
	--ntv-border-transparent-2: #ffffff1a;

	--ntv-text-color: rgba(255, 255, 255, 0.87);
	--ntv-text-color-medium-emphasis: rgba(255, 255, 255, 0.6);
	--ntv-text-color-low-emphasis: rgba(255, 255, 255, 0.4);
	--ntv-text-color-disabled-emphasis: rgba(255, 255, 255, 0.38);
}
