@use '../variables' as *;

.ntv__announcement-modal {
	min-height: 350px;
	max-height: 600px;
	max-width: 600px;

	.ntv__modal__header__body {
		> * {
			margin-right: $golden_ratio_inverse * 1em;
		}
	}

	.ntv__modal__body {
		padding: $golden_ratio * 1em 2em 5em;
		display: block;

		// > button {
		// 	position: absolute;
		// 	bottom: 1.6em;
		// 	right: 1.6em;
		// }

		ul,
		ol {
			margin-bottom: $golden_ratio_inverse * 1em;
			margin-top: $golden_ratio_inverse * 1em;
			margin-left: 1em;
		}

		li {
			margin-bottom: $golden_ratio_inverse * 1em;
			list-style: initial;
		}

		a {
			text-decoration: underline;
			color: #5781f3;
		}

		h3,
		h4 {
			margin-top: $golden_ratio * 1em;
		}

		ul,
		ol,
		p {
			margin-bottom: $golden_ratio_inverse * 1em;
		}
	}

	&__button-container {
		position: absolute;
		display: flex;
		bottom: 1.6em;
		right: 1.6em;
		gap: 0.618em;
	}

	// &__overflow-wrapper {
	// 	overflow-y: scroll;

	// 	// button {
	// 	// 	position: absolute;
	// 	// 	bottom: 0;
	// 	// 	right: 0;
	// 	// }
	// }

	// &__button-wrapper {
	// 	flex-basis: 100%;
	// 	margin-top: 1em;
	// }
}
