@use '../variables' as *;
@use '../mixins' as *;
@use '../functions' as *;

.ntv__modal {
	background-color: var(--ntv-background-color);
	box-shadow: shadow_elevation(4);
	font-size: $root_font_size;
	flex-direction: column;
	border-radius: 0.25em;
	position: absolute;
	display: flex;
	z-index: 500;

	min-height: 17em;
	min-width: 13em;

	&__header {
		border-bottom: 0.1em solid var(--ntv-border-transparent-2);
		display: flex;
		padding: 2px;
		width: 100%;

		@include user_select;

		&__body {
			padding: 0.618em 1em;
			align-items: center;
			flex: 1 1 auto;
			display: flex;
			gap: 0.618em;

			span {
				opacity: 0.68;
			}
		}

		h2 {
			font-size: 1.618em;
			margin: 0;
		}
	}

	&__close-btn {
		padding: 0.382em 0.618em;
		font-size: 1.618em;
		font-weight: 100;
		cursor: pointer;

		&:hover {
			background: hsla(0, 0%, 50%, 0.2);
		}
	}

	&__body {
		align-content: flex-start;
		flex-wrap: wrap;
		overflow: auto;
		flex: 1 1 100%;
		display: flex;

		> :first-child {
			margin-top: 0;
		}

		h1 {
			margin-bottom: 0.34em;
			margin-top: 0.67em;
			font-size: 2em;
		}

		h2 {
			margin-bottom: 0.42em;
			margin-top: 0.83em;
			font-size: 1.5em;
		}

		h3 {
			margin-bottom: 0.5em;
			margin-top: 1.15em;
			font-size: 1.2em;
		}

		h4 {
			margin-bottom: 0.34em;
			margin-top: 0.67em;
			font-weight: bold;
			font-size: 1.1em;
		}

		p {
			margin-bottom: $golden_ratio_inverse * 1em;
			margin-top: $golden_ratio_inverse * 1em;
			font-size: 1em;
		}
	}
}
