@use '../variables' as *;

.ntv__poll-modal {
	.ntv__modal__body {
		padding: 1em $golden_ratio * 1em;
	}

	&__title {
		margin-bottom: $golden_ratio_inverse_half * 1em;
		font-size: 1.333em;
	}

	&__subtitle {
		margin: $golden_ratio_inverse * 1em 0 $golden_ratio_inverse_half * 1em;
		display: inline-block;
		width: 100%;
	}

	&__duration,
	&__display-duration {
		width: 100%;
	}

	&__footer {
		margin-top: $golden_ratio_inverse * 1em;
		justify-content: flex-end;
		display: flex;
		width: 100%;

		button {
			margin-left: $golden_ratio_inverse * 1em;
		}
	}
}
