@use '../variables' as *;

.ntv__settings-modal {
	max-width: 100%;

	// min-width: 64rem;
	min-height: 33rem;
	max-width: 900px;
	max-height: 650px;

	--width: min(75vw, 128rem);
	--height: min(75vh, calc(0.75 * var(--width)));
	width: 75vw;
	width: var(--width);
	height: 50vh;
	height: var(--height);
	margin: 25px;

	top: 25%;
	left: 25%;
	top: calc(calc(100vh - var(--height)) / 2);
	left: calc(calc(100vw - var(--width)) / 2);

	outline: 0.1em solid var(--ntv-border-transparent-2);

	@media (max-width: 768px) {
		transform: none !important;
		left: 0 !important;
		top: 0 !important;
		max-height: none;
		max-width: none;
		transform: none;
		position: fixed;
		height: 100vh;
		width: 100vw;
		margin: 0;
	}

	&__sidebar {
		margin-right: 1.618em;
		flex: 0 0 fit-content;

		ul {
			list-style: none;
		}

		span {
			// border-bottom: 0.1em solid var(--ntv-border-transparent-2);
			display: inline-block;
			padding: 0.618em 1.618em;
			cursor: pointer;
			width: 100%;
		}
	}

	&__category {
		margin-bottom: 1.618em;
		position: relative;

		// &:before {
		// 	font-size: 1.209em;
		// 	position: absolute;
		// 	content: '>';
		// 	top: 0.57em;
		// 	left: 0;
		// }

		> span {
			// padding-left: 1.3em;
			// padding: 0.209em 1.618em 0.333em 1.3em;
			padding: 0 1.618em 0 1.3em;
			margin-bottom: 0.5em;
			font-size: 1.333em;
			cursor: default;
		}
	}

	&__sub-category {
		&--active {
			background-color: hsla(0, 0%, 50%, 0.2);
		}

		span {
			transition: background-color 0.1s;

			&:hover {
				background-color: hsla(0, 0%, 50%, 0.2);
			}
		}
	}

	&__group {
		margin-bottom: 1.618em;

		&-header {
			margin-bottom: 1.5em;

			h4 {
				font-size: 1.333em;
			}
		}
	}

	&_panels {
		flex-direction: column;
		flex: 1 1 100%;
		display: flex;

		&__panel {
			padding-top: 0.618em;
		}
	}

	.ntv__modal__body {
		padding: 2em 3em 3em 3em;
	}
}
