@use '../variables' as *;

.ntv__settings-modal {
	max-width: 100%;

	// min-width: 64rem;
	min-height: 33rem;
	max-width: 900px;
	max-height: 650px;

	--width: min(75vw, 128rem);
	--height: min(75vh, calc(0.75 * var(--width)));
	width: 75vw;
	width: var(--width);
	height: 50vh;
	height: var(--height);

	top: 25%;
	left: 25%;
	top: calc(calc(100vh - var(--height)) / 2);
	left: calc(calc(100vw - var(--width)) / 2);

	outline: 0.1em solid var(--ntv-border-transparent-2);

	&__mobile-btn-wrapper {
		margin-bottom: 1em;
		text-align: center;
		flex: 1 0 100%;
		display: none;

		button {
			background-color: var(--ntv-border-transparent-2);
			padding: $golden_ratio_inverse * 1em;
			margin: $golden_ratio_inverse * 1em;
			white-space: nowrap;
			font-size: 1.4em;
			cursor: pointer;

			transition: background-color 0.1s;

			&:hover {
				background-color: hsla(0, 0%, 50%, 0.2);
			}

			svg {
				display: inline;
			}
		}
	}

	&__sidebar {
		margin-right: $golden_ratio * 1em;
		flex: 0 0 fit-content;

		@media (max-width: 768px) {
			display: none;
		}

		&--open {
			display: block;
		}

		ul {
			list-style: none;
		}

		span {
			// border-bottom: 0.1em solid var(--ntv-border-transparent-2);
			display: inline-block;
			padding: 0.5em 1.5em;
			cursor: pointer;
			width: 100%;
		}
	}

	&__category {
		margin-bottom: $golden_ratio * 1em;
		position: relative;

		// &:before {
		// 	font-size: 1.209em;
		// 	position: absolute;
		// 	content: '>';
		// 	top: 0.57em;
		// 	left: 0;
		// }

		> span {
			// padding-left: 1.3em;
			// padding: 0.209em $golden_ratio * 1em 0.333em 1.3em;
			padding: 0 $golden_ratio * 1em 0 1.2em;
			margin-bottom: 0.25em;
			font-size: 1.2em;
			cursor: default;
		}
	}

	&__sub-category {
		&--active {
			background-color: hsla(0, 0%, 50%, 0.2);
		}

		span {
			transition: background-color 0.1s;

			&:hover {
				background-color: hsla(0, 0%, 50%, 0.2);
			}
		}
	}

	&__group {
		margin-bottom: $golden_ratio * 1em;
		padding: 0 1.618em;
	}

	&__group-header {
		margin-left: -1.618em;
		margin-bottom: 1em;

		// h4 {
		// 	font-size: 1.333em;
		// }

		& > h3,
		& > h4 {
			align-items: center;
			flex-direction: row;
			column-gap: 0.618em;
			position: relative;
			display: flex;

			// Horizontal line on right side of header
			&:after {
				display: inline-block;
				background-color: var(--ntv-border-transparent-2);
				flex: 1 1 100px;
				content: '';
				height: 1px;
			}
		}

		p {
			color: var(--ntv-text-color-medium-emphasis);
			font-size: 0.95em;
		}
	}

	&__panels {
		flex-direction: column;
		display: flex;
		flex: 1 1;
	}

	&__panel {
		// padding-top: $golden_ratio_inverse * 1em;

		&[data-panel='nipahtv.changelog'] {
			h3 {
				span {
					font-weight: normal;
					font-size: 0.618em;
					color: inherit;
				}
			}

			p {
				white-space: preserve;
				margin-bottom: 1em;
			}

			ul li:first-child h3:first-child {
				margin-top: 0;
			}
		}

		// First group of panel
		> .ntv__settings-modal__group:first-child .ntv__settings-modal__group-header {
			h3,
			h4 {
				margin-top: 0;
			}
		}
	}

	@media (max-width: 768px) {
		transform: none !important;
		left: 0 !important;
		top: 0 !important;
		max-height: none;
		max-width: none;
		transform: none;
		position: fixed;
		height: 100vh;
		width: 100vw;
		margin: 0;

		&__mobile-btn-wrapper {
			display: block;
		}

		&__sidebar:not(&__sidebar--open) {
			display: none;
		}

		&__panels {
			flex: 1 1 100%;
		}
	}

	.ntv__modal {
		&__header__body {
		}
		&__update-available {
		}
		&__update-btn {
		}
		&__body {
			padding: 2em 2em 3em 1em;
		}
	}
}
