.container {
	/* background: rgba(255, 255, 255, 0.086); */
	border-radius: 0.5em;
	/* margin: 0.3em 0; */
	line-height: 1.618em;
	position: absolute;
	padding: 0.333em 1em;
	max-width: 100%;
	right: 0;
	left: 0;
	top: 0;
}

.username {
	margin-right: 0.618em;
	color: #f0f;
}
