#ntv__message-input {
	outline: 2px solid transparent;
	border-color: transparent;
	border-width: 1px;

	outline-width: 2px;
	outline-offset: 2px;
	outline-color: transparent;

	&:focus-visible {
		outline: 2px solid transparent;
		outline-offset: 2px;
	}
}

.ntv__submit-button {
	transition-timing-function: cubic-bezier(0, 0, 0, 1);
	transition-property: background, color, fill;
	transition-duration: 0.3s;

	background-color: #53fc18;
	padding: 0.5rem 0.625rem;
	white-space: nowrap;
	border-radius: 4px;
	line-height: 1.25;
	font-weight: 600;
	color: #070809;
	font-size: 1rem;
	height: 2.25rem;

	&.disabled {
		background-color: #21650a;
		cursor: default;
	}
}

.kick__chat-footer {
	overflow: visible !important;

	> div {
		position: relative;
	}
}
