.ntv__message-input__wrapper {
	& ~ button {
		display: none;
	}
}

#chat-input-wrapper {
	transition: box-shadow 100ms ease-in, border 100ms ease-in, background-color 100ms ease-in;
	box-shadow: inset 0 0 0 1px rgba(236, 234, 255, 0.32);
	background: transparent;
	outline: none;
	border: none;

	&:focus,
	&:focus-within {
		box-shadow: inset 0 0 0 2px rgba(236, 234, 255, 0.43);
		background: transparent;
		outline: none;
	}
}

#message-input {
	display: none;
}

#ntv__message-input {
	outline: 2px solid transparent;
	border-color: transparent;
	border-width: 1px;

	outline-width: 2px;
	outline-offset: 2px;
	outline-color: transparent;

	&:focus-visible {
		outline: none;
	}
}

.ntv__message-input__wrapper {
	// Hide the original Kick input
	& ~ div[dir],
	& ~ svg {
		display: none;
	}
}

// Select the bottom bar container under chat input
.ntv__quick-emotes-holder ~ .lg\:gap-4 {
	gap: 0.9rem;
}

.ntv__submit-button {
	transition-timing-function: cubic-bezier(0, 0, 0, 1);
	transition-property: background, color, fill;
	transition-duration: 0.3s;

	background-color: #53fc18;
	padding: 0.5rem 0.625rem;
	white-space: nowrap;
	border-radius: 4px;
	line-height: 1.25;
	font-weight: 600;
	color: #070809;
	font-size: 1rem;
	height: 2.25rem;

	&.disabled {
		background-color: #21650a;
		cursor: default;
	}

	& + button {
		display: none !important;
	}
}

.kick__chat-footer {
	overflow: visible !important;
	padding-top: 0.2em;

	> div {
		position: relative;
	}
}

////////////////////////////////////////////////////////////
/// For moderator & creator view still using old design
#chatroom-footer {
	gap: 0 !important;

	// Emote menu button
	#message-input + .disabled\:pointer-events-none {
		display: none !important;
	}

	// When reply mode is detected
	&:has(> .flex > .chat-mode.text-mode > .text-sm:first-child) {
		// Hide the NTV emote menu button
		.ntv__emote-menu-button {
			display: none !important;
		}

		// Hide the NTV submit button
		.chat-mode.text-mode + .send-row {
			.ntv__submit-button {
				display: none !important;

				& + button {
					display: flex !important;
				}
			}
		}

		// Hide the NTV input and show the Kick input
		.chat-input-wrapper {
			.ntv__message-input__wrapper {
				display: none !important;
			}

			#message-input {
				display: flex !important;
			}

			#message-input + .disabled\:pointer-events-none {
				display: flex !important;
			}
		}

		// Hide the quick emotes holder
		.ntv__quick-emotes-holder {
			display: none !important;
		}

		// Show the native Kick emote menu button
		#message-input + .disabled\:pointer-events-none {
			display: block !important;
		}
	}
}
