@use '../../variables' as *;

.ntv__emote-menu-button {
	font-size: $root_font_size;

	img {
		transition: background 0.0618s ease-in-out;
		background: transparent;
		border-radius: 0.25rem;
		object-fit: contain;
		line-height: 1.8em;
		text-align: center;
		font-size: 1.4em;
		max-width: none;
		cursor: pointer;
		// height: 1.5em;
		// width: 6em;

		&:hover {
			background-color: var(--ntv-background-highlight-2);
		}
	}

	&--nipah {
		padding: 0.2em 0.2em 0.25em 0.3em;
		height: 1.57em;
	}

	&--nipahtv {
		padding: 0.15em 0.25em 0.15em 0.3em;
		height: 1.4em;
	}

	&--logo {
		padding: 0.3em;
		height: 1.7em;
	}

	&--ntv {
		padding: 0.4em 0.4em 0.4em 0.5em;
		height: 1.6em;
	}

	&--ntv_3d {
		padding: 0.4em 0.4em 0.4em 0.5em;
		height: 1.6em;
	}

	&--ntv_3d_rgb {
		padding: 0.4em 0.4em 0.4em 0.5em;
		height: 1.6em;
	}

	&--ntv_3d_shadow {
		padding: 0.2em 0.4em 0.2em 0.5em;
		height: 1.6em;
	}

	&--ntv_3d_shadow_beveled {
		padding: 0.3em 0.4em 0.1em 0.5em;
		height: 1.6em;
	}
}
