body > [data-theatre].ntv {
	&__chat-position {
		&--left {
			// Selects parent of #channel-chatroom
			:has(> #channel-chatroom) {
				flex-direction: row-reverse;
			}

			#video-player + div {
				left: auto;
				right: 0;
			}
		}
	}
}
