.ntv__chat-message {
	&__badge {
		display: inline-block;
	}
}

// .ntv__chat-messages-container {
// 	> div {
// 		display: none;
// 	}
// }

.ntv__chat-message {
	.kick__chat-message__actions {
		display: none;

		.kick__reply-button {
			svg {
				pointer-events: none;
				user-select: none;
			}
		}
	}

	&:hover {
		.kick__chat-message__actions {
			display: flex;
		}
	}
}
