@use '../../variables' as *;

// .ntv__chat-message {
// 	&__badge {
// 		display: inline-block;
// 	}
// }

// .ntv__chat-messages-container {
// 	> div {
// 		display: none;
// 	}
// }

.ntv__chat-message {
	.kick__chat-message__actions {
		display: none;

		.kick__reply-button {
			svg {
				pointer-events: none;
				user-select: none;
			}
		}
	}

	&:hover {
		.kick__chat-message__actions {
			display: flex;
		}
	}
}

.kick__chat-message--old-format {
	.chat-entry {
		border: none;
		padding: 0;
		margin: 0;

		& > .ntv__chat-message__inner ~ div {
			display: none !important;
		}
	}
}

.ntv__pinned-message {
	&__content {
		font-size: $root_font_size;

		// Hide the original Kick pinned message content
		& + .\[\&\>a\:hover\]\:text-primary {
			display: none !important;
		}

		// Hide the collapse/expand button, it doesn't work now anyway
		& ~ button {
			display: none !important;
		}
	}
}
