.ntv__kick__theatre-overlay-mode {
	&__video-holder {
		margin-right: 340px;

		video.vjs-tech {
			max-width: 100vw;
			width: 100vw;
		}
	}

	&__chat-container {
		background: transparent;
		position: absolute;
		right: 0;

		.chat-container {
			border-left: none;
		}

		#chatroom-top {
			// Ensure Top and pinned messages are above the chat
			z-index: 2;

			.pinned-message__container {
				background-color: transparent;
			}
		}

		.chat-content {
			background: transparent;
		}

		#chatroom-top,
		.chatroom-footer,
		.ntv__chat-message {
			backdrop-filter: blur(4px);
			background: rgba(0, 0, 10, 0.0618) !important;
		}
	}

	&--very-translucent {
		#chatroom-top,
		.chatroom-footer,
		.ntv__chat-message {
			backdrop-filter: blur(5px);
			background-color: rgba(0, 0, 10, 0.0618) !important;
		}

		.ntv__chat-message.pinned-message {
			background-color: rgba(0, 0, 10, 0.15) !important;
		}
	}

	&--semi-translucent {
		#chatroom-top,
		.chatroom-footer,
		.ntv__chat-message {
			backdrop-filter: blur(6px);
			background-color: rgba(0, 0, 10, 0.2) !important;
		}

		.ntv__chat-message.pinned-message {
			background-color: rgba(0, 0, 10, 0.3) !important;
		}
	}

	&--dark-translucent {
		#chatroom-top,
		.chatroom-footer,
		.ntv__chat-message {
			backdrop-filter: blur(8px);
			background-color: rgba(0, 0, 10, 0.45) !important;
		}

		.ntv__chat-message.pinned-message {
			background-color: rgba(0, 0, 10, 0.6) !important;
		}
	}
}
