@use 'variables' as *;

$spacing: 0.382em;

.nipah__checkbox {
	margin: $spacing 0;

	input {
		margin-right: 1em;
	}
}

.nipah__dropdown {
	margin: $spacing 0;

	select {
		border: 0.2em solid $border-transparent-1;
		padding: 0.382em 0.618em;
		background: transparent;
		border-radius: 0.25em;
		margin-right: 1em;

		option {
			background: $background-transparent-1;
		}
	}
}

.nipah__color {
	margin: $spacing 0;

	label {
		margin-right: 1em;
	}

	input {
		vertical-align: middle;
		height: 2em;
	}
}
