@use '_functions' as *;

$root_font_size: 14px;
$emote_size: 2.8em;
$emote_row_size: 7;
$sidebar_width: $emote_size;

// Opacity Scale
$opacity-1: 0.05;
$opacity-2: 0.08;
$opacity-3: 0.13;
$opacity-4: 0.16;
$opacity-5: 0.22;
$opacity-6: 0.28;
$opacity-7: 0.4;

// Base Color Palette
$color-primary: #fd61a2;
$color-secondary: #66bb6a;
$color-accent: #29b6f6;
$color-warning: #df4545;
$color-muted: #999;

// Background Color Palette
$dark-theme-background-color: #171718;

:root {
	--background-color: #{$dark-theme-background-color};
	--background-color-tint-1: #{tint($dark-theme-background-color, 3%)};
	--background-color-tint-2: #{tint($dark-theme-background-color, 5%)};
	--background-color-tint-3: #{tint($dark-theme-background-color, 7%)};
	--background-color-shade-1: #{shade($dark-theme-background-color, 20%)};
	--background-color-shade-2: #{shade($dark-theme-background-color, 40%)};

	--background-highlight-1: hsla(0, 0%, 50%, 0.125);
	--background-highlight-2: hsla(0, 0%, 50%, 0.202);

	--border-transparent-1: #ffffff1a;

	--text-color: rgba(255, 255, 255, 0.87);
	--text-color-medium-emphasis: rgba(255, 255, 255, 0.6);
	--text-color-low-emphasis: rgba(255, 255, 255, 0.4);
	--text-color-disabled-emphasis: rgba(255, 255, 255, 0.38);
}
