* {
	box-sizing: border-box;
}

body {
	background-color: #1c1719;
	font-family: 'Inter', sans-serif;
	font-variation-settings: 'slnt' 0;
	font-optical-sizing: auto;
	font-style: normal;
	color: white;
	margin: 0;
}

input,
select {
	font-family: 'Inter', sans-serif;
	font-variation-settings: 'slnt' 0;
	font-optical-sizing: auto;
	font-style: normal;
}

h2,
h3 {
	line-height: 1.5;
}

h2 {
	font-size: 1.618em;
	text-align: center;
	font-weight: 400;
}

h3 {
	font-weight: normal;
	font-size: 1.618em;
	max-width: 26rem;
}

p {
	line-height: 1.618em;
	max-width: 50em;
}

p,
a {
	word-break: break-word;
}

a,
a:visited {
	color: #76bded;
}

img {
	max-width: 100%;
}

.elevation-3 {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.flex-center {
	justify-content: center;
	align-items: center;
	display: flex;
	gap: 1.618em;
}

.grid-center {
	justify-items: center;
	display: grid;
}

.text-center {
	text-align: center;
}

.button {
	background-color: #f0f0f0;
	border-radius: 0.618em;
	text-decoration: none;
	padding: 1em 1.618em;
	font-weight: 500;
	color: #000;

	&:visited {
		color: #000;
	}

	&:hover {
		background-color: #e0e0e0;
	}

	&.disabled {
		pointer-events: none;
		cursor: not-allowed;
		opacity: 0.5;
	}

	&--small {
		letter-spacing: -0.15px;
		padding: 0.71em 0.9em;
		font-size: 0.86em;
	}

	&--discord {
		background-color: #5865f2;
		color: #e0e3ff;

		&:before {
			content: url('img/icons/discord-logo-white.svg');
			vertical-align: middle;
			display: inline-block;
			margin-right: 0.5em;
			position: relative;
			height: 1.618em;
			width: 1.618em;
			top: 0.1em;
		}

		&:visited {
			color: white;
		}

		&:hover {
			background-color: #4752c4;
		}
	}
}

.container {
	max-width: 1140px;
	padding: 0 1em;
	margin: 0 auto;
	width: 100%;

	justify-content: center;
	align-content: center;
	align-items: center;
	flex-wrap: wrap;
	display: flex;
}

.tabs {
	justify-content: center;
	margin-top: 3em;
	flex-wrap: wrap;
	display: flex;

	> input[type='radio'] {
		appearance: none;
	}

	> label {
		border-radius: 0.2em;
		background: #fff;
		user-select: none;
		cursor: pointer;
		color: black;
		opacity: 0.68;
		padding: 1em;
	}

	&__panels {
		margin-top: 2.618em;
		width: 100%;
	}

	&__panel {
		justify-items: center;
		display: none;
		width: 100%;

		img {
			box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
			margin: 1.618em 0;
		}
	}

	& > input:first-child:checked ~ &__panels > &__panel:first-child,
	& > input:nth-child(3):checked ~ &__panels > &__panel:nth-child(2),
	& > input:nth-child(5):checked ~ &__panels > &__panel:nth-child(3),
	& > input:nth-child(7):checked ~ &__panels > &__panel:nth-child(4),
	& > input:nth-child(9):checked ~ &__panels > &__panel:nth-child(5),
	& > input:nth-child(11):checked ~ &__panels > &__panel:nth-child(6) {
		display: grid;
	}

	& > label:hover,
	& > input:focus + label,
	& > input:checked + label {
		background: #faf6f8;
		opacity: 1;
	}
}

header {
	background-color: #700f39;
	color: white;
	position: relative;
	/* padding: 1em 0; */

	.header__container {
		grid-template-columns: auto 1fr auto;
		align-items: center;
		display: grid;
	}

	.header__logo {
		padding: 0.618em 0;
	}

	img {
		display: block;
		height: 3em;
		width: 3em;
	}

	.nav {
		&--desktop {
			justify-self: center;
		}

		&--mobile {
			justify-self: end;
			position: relative;
		}
	}

	.nav--desktop ul {
		justify-content: center;
		list-style-type: none;
		font-size: 1em;
		display: flex;
		gap: 0.618em;
		padding: 0;
		margin: 0;
	}

	.nav--desktop li {
		&.active {
			border-bottom: 2px solid rgba(255, 168, 168, 0.86);
		}

		&:hover {
			background-color: rgba(255, 168, 168, 0.36);
			cursor: pointer;
		}

		a {
			text-decoration: none;
			display: inline-block;
			line-height: 4.618em;
			padding: 0 1em;
			color: white;

			&:visited {
				color: white;
			}
		}
	}

	.nav__toggle {
		position: absolute;
		opacity: 0;
		pointer-events: none;
	}

	.nav__button {
		border-radius: 0.618em;
		justify-content: center;
		align-items: center;
		user-select: none;
		cursor: pointer;
		display: inline-flex;
		height: 3em;
		width: 3em;
		color: white;
	}

	.nav__button:hover {
		background-color: rgba(255, 168, 168, 0.36);
	}

	.nav__icon {
		display: inline-block;
		position: relative;
		width: 1.4em;
		height: 2px;
		background-color: currentColor;
	}

	.nav__icon:before,
	.nav__icon:after {
		content: '';
		position: absolute;
		left: 0;
		width: 100%;
		height: 2px;
		background-color: currentColor;
	}

	.nav__icon:before {
		top: -0.45em;
	}

	.nav__icon:after {
		top: 0.45em;
	}

	.nav__panel {
		border-bottom-right-radius: 0.618em;
		border-bottom-left-radius: 0.618em;
		background-color: #700f39;
		position: absolute;
		top: calc(100% + 0.5em);
		right: 0;
		left: auto;
		min-width: 220px;
		overflow: hidden;
		display: none;
		z-index: 10;
	}

	.nav__toggle:checked ~ .nav__panel {
		display: block;
	}

	.nav--mobile ul {
		list-style-type: none;
		padding: 0.5em 0;
		margin: 0;
		display: flex;
		flex-direction: column;
	}

	.nav--mobile li {
		&.active > a {
			background-color: rgba(255, 168, 168, 0.2);
		}
	}

	.nav--mobile a {
		text-decoration: none;
		display: block;
		padding: 0.9em 1em;
		color: white;

		&:visited {
			color: white;
		}
	}

	.nav--mobile a:hover {
		background-color: rgba(255, 168, 168, 0.36);
	}

	@media (max-width: 700px) {
		.nav--desktop {
			display: none;
		}

		img {
			height: 2.75em;
			width: 2.75em;
		}
	}

	@media (min-width: 701px) {
		.nav--mobile {
			display: none;
		}
	}
}

section {
	justify-content: center;
	align-content: center;
	align-items: center;
	padding: 200px 25px;
	row-gap: 1.618em;
	column-gap: 5em;
	flex-wrap: wrap;
	display: flex;

	&:nth-of-type(odd) {
		background-color: #140c10;
		flex-direction: row-reverse;
	}

	&.less-padding {
		padding: 100px 25px;
	}

	img {
		border-radius: 0.618em;
	}

	.row {
		width: 100%;
	}

	.container {
		row-gap: 1.618em;
		column-gap: 5em;
	}

	.content-block {
		max-width: 27rem;
	}
}

#banner {
	flex-direction: column;
	position: relative;
	padding: 1em 1em 1em 1em;
	max-height: 70vh;
	display: flex;
	height: 750px;
	gap: 1.618em;

	img {
		pointer-events: none;
		user-select: none;
		max-width: 100%;
	}

	h2 {
		width: 100%;
	}

	.emotes_box {
		container-type: size;
		position: absolute;
		overflow: hidden;
		bottom: 0;
		right: 0;
		left: 0;
		top: 0;

		img {
			animation: emoteRain 2s ease-in;
			transform: translateY(-10cqh);
			transform-origin: center;
			pointer-events: none;
			user-select: none;
			height: 2.618em;
			display: block;
			width: 2.618em;
			top: 0;
		}
	}

	> *:not(.emotes_box) {
		z-index: 2;
	}

	.banner_content,
	.banner_footer {
		justify-content: center;
		align-content: center;
		flex-wrap: wrap;
		display: flex;
	}

	.banner_content {
		flex: 1 0;
		gap: 1em;
	}

	.banner_footer {
		margin-top: 2em;
		gap: 0.86em;
	}

	@media (max-width: 468px) {
		padding: 2.5em 1em 1em 1em;
		max-height: none;
		height: auto;
	}
}

@keyframes emoteRain {
	0% {
		transform: translateY(-10cqh) rotate(0);
	}
	100% {
		transform: translateY(100cqh) rotate(2turn);
	}
}
